#bar {
    text-align: center;
    background-color: gray;
    margin: 0%;
    padding: 5px;
    clear: both;
}
#mainNav {
    background-color: green;
}
#mainNav li {
    display: inline;
}
#mainNav li:hover {
    background-color: rgba(255, 255, 255, 0.078);
    color: white;
}
#info {
    display: inline;
}
.main {
    background-color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    float: left;
    margin: 1rem;
    padding: 1rem;
    border-width: 100px;
    margin-bottom: 2rem;
    border-radius: 20px;
}
.main :focus {
    width: 300px;
}
.rules {
    background-color: rgb(160, 19, 19);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    border-width: 100px;
    margin-bottom: 2rem;
    border-radius: 20px;
    float: right;
}
.rules:hover {
    background-color: aqua;
}